<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="eibs_container_coopeuch">
        <module-type module-type-id="jst.web">
            <version>2.3</version>
        </module-type>
        <wb-resource deploy-path="/" source-path="/WebContent"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/JavaSource"/>
        <property name="JSPLevel" value="JSP 1.2"/>
        <property name="FeatureID_1" value="templatefeature"/>
        <property name="FeatureID_2" value="com.ibm.etools.siteedit.wizards.projectfeature.WebSiteFeature"/>
        <property name="FeatureID_3" value="JSPStandardFeature"/>
        <property name="FeatureID_4" value="JSPObjectsFeature"/>
        <property name="FeatureID_5" value="DatabaseAccessFeature"/>
        <property name="FeatureID_6" value="InternationalizatonFeature"/>
        <property name="FeatureID_7" value="UtilityFeature"/>
        <property name="java-output-path" value="build/classes"/>
        <property name="context-root" value="eibs_FUN"/>
    </wb-module>
</project-modules>