<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="eibs_container_coopeuch_ear">
        <wb-resource deploy-path="/" source-path="/"/>
        <dependent-module deploy-path="/" handle="module:/resource/eibs_container_coopeuch/eibs_container_coopeuch">
            <dependent-object>WebModule_1322677328611</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>