BODY {
	background-color: #FFFFFF;
}
	
TABLE {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	background-color: #F0F0F0;
	border-color: #FF0000;
	color: #990000;
}

	
TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	color: red;
	text-transform : uppercase;        
}


.TBHEAD {
	background-color: #FFB7B7;
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: red;
}

#TRDARK{
	background-color: #FFB7B7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: red;
	height:20pt;
}
#TRCLEAR{
	background-color: #FFB7B7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: red;
	height:20pt;
	}
P {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: red;
} 
HR{
	color: #FFB7B7;
	height : 4pt;
}

H3 {
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size:10pt;
	text-align: center;
	color: red;
	}
 
 H4{
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 8pt;
	text-align:left;
	color: red;
}

H5 {
	font-family: "MS Sans Serif", Geneva, sans-serif;
	color: #FF0000;
	font-size: 9pt;
	}
INPUT {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:black;
	text-transform : uppercase;
}

#TXTCHANGED {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:red;
	text-transform : uppercase;
	background-color:#FFFF80;
}
SELECT{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-transform : uppercase;
	color: #000000;
}

A:LINK {
	font-family: Arial, Helvetica, sans-serif;
	color : #FF3300;
	text-decoration : none;
	font-size : 8pt;
	font-style: normal;
}

A:VISITED {
	font-family: Arial, Helvetica, sans-serif;
	color : #FF3300;
	text-decoration : none;
	font-size : 8pt;
	font-style: normal;
}

A:HOVER {
	font-family: Arial, Helvetica, sans-serif;
	color : #999900;
	text-decoration : none;
	font-size : 8pt;
	font-style: normal;
}	
.TBENTER{
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	color: red;
	background-color: #ffffff;
	width:100%;
}

#TBHELP {
	font-size:8pt;
	color: red;
	background-color: #ffffff;
	
}
#TXTRIGHT {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:black;
	text-transform : uppercase;
	text-align: right;
}

TEXTAREA {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:black;
	text-transform : uppercase;
}

#TXTRCHANGED{
	font-family : Arial,Helvetica,sans-serif;
	color : red;
	background-color : #ffff80;
	text-align : right;
	font-size : 8pt;
	text-transform : uppercase;
}

.TABLEINFO{
	border-top-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 1px;
	border-color: red;
	border-style : solid solid solid solid;
	width:100%;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color='gray', Positive='true');  
}

#TXTLABEL{
	text-align : center;
	border-style : none none none none;
	cursor : pointer;
	font-size : 8pt;
	font-family : Arial,sans-serif;
	color : red;
	background-color :transparent;
	text-transform : capitalize;
}

.SCBARCOLOR{
  
  	scrollbar-3dlight-color : #F5F5F5; 
  	scrollbar-arrow-color : navy;
  	scrollbar-base-color : lightgray;
  	scrollbar-darkshadow-color : darkblue;
  	scrollbar-face-color : #D1D1D1;
  	scrollbar-highlight-color : #DCDCDC;
  	scrollbar-shadow-color : darkgray;
  	scrollbar-track-color : #F5F5F5;
}

.TRNORMAL{
	color: #990000;
	background-color: #F0F0F0;
}

.TRHIGHLIGHT{
	color: #990000;
	background-color: white;
}

.TDADDINFO{
  
  	filter:progid:DXImageTransform.Microsoft.Fade(duration=1.0,overlap=1.0);   
}

.IMGFILTER{
  	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color='gray',Positive='true');
	cursor:hand;
}

.IMGFILTERPRESS{
  	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, 			Color='white',Positive='true');
	cursor:hand;    
}

#TXTBASE {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:#990000;
	text-transform : uppercase;
	background-color : white;
}

.TDBKG{ background:transparent url('/WebContent/images/bt_bkg.gif') no-repeat fixed center center;
		font-weight:bolder;
		height:40pt;
		vertical-align:middle;		
}
.TDBKG A:VISITED {
	color:#990000;
}
.TDBKG A:HOVER { color:black;}
