/*   Device Profile CSS (default style for WML standard device)

     Licensed Materials - Property of IBM
     (C) Copyright IBM Corp. 2003 All Rights Reserved.
     US Government Users Restricted Rights -
     Use, duplication or disclosure restricted
     by GSA ADP Schedule Contract with IBM Corp.

*/

p, pre, br, input, table, select, option , img{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	margin-right: 0em;
}

a, anchor {
  color: blue;
}




